<<<<<<< HEAD

=======
<div class="nav">
  <div class="title">
    <h1>Justin Veirs</h1>
      <ul class="attributes">
        <li <a href="about">About</a></li>
        <li>Projects</li>
        <li>Contact</li>
        <li>Interests</li>
      </ul>
  </div>
</div>
>>>>>>> 97f304a29adc14fb3bbb54c3d164c3471ab92d46
